@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:ital,wght@0,200;1,300&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:ital,wght@0,200;1,300&family=Sarala:wght@700&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
}
body{
    /*background-color:gray;*/
background: linear-gradient(white, blue); 
}

/* Menu*/
.fundo {
    background-color: white;

}

.menu {
    background-color: rgb(34,69,123);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: inline-block;
    padding:20px;
}

.menu ul li{
    padding: 10px;
    display: inline;
}

.menu ul li a{

    color: #f19100;
    text-decoration: none;
    font-family: 'Sarala', sans-serif;
    font-size: 30px;
    padding:20px;
    transition:background .2s;

}

.menu ul li a:hover{
   background-color: #0000EE;
    color: #fff8dc;


}

/*Rodapé*/

.rodape {
   
    background-color: rgb(13, 40, 82);
    font-size: 15px;
    color: #f19100;
    text-align: center;
    padding: 40px;
    font-family: 'Sarala', sans-serif;
}


.rodape section{
    display:inline-block;
    background: white;
    border-radius: 5%;
    padding: 15px;
    width: 500px;
    margin-top: 3%;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}
.txtname{

}
.txtsobrenome{

}
.nascimento{

}
.numero{

}
.email{
    
}


.rodape input{
    border-radius: 40px;
}

.botão{
    display:inline-block;
    background:cyan ;
    border-radius: 50%;
    padding: 15px;
    width: 400px;
    margin-top: 3%;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
        }